<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Admin Template by Tooplate.com</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome.min.css')}}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/fullcalendar.min.css')}}">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/tooplate.css')}}">
</head>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-small">
                    <img class="bd-placeholder-img" width="400%" height="80%" src="{{url_for('static', filename = 'img/table data.jpg')}}"  aria-hidden="false" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h5>
                            Student performance is going to be predicted by information of their ethnicity,
                            parental level of education, lunch and preparation before the test.
                        </h5>
                        </div>
                </div>
            </div>


            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/lunch.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h5>
                            There were more people who preferred standard lunch to free/reduced one.
                            <p>
                                Many participants abandoned the idea of preparation before the test.
                            </p>
                        </h5>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/prep.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
            </div>

            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/all scores.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/box plot all.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h5>
                            Reading was quite more comprehensible among respondents and math exam was the most complicated one.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="105%" height="100%" src="{{url_for('static', filename = 'img/average score.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h5>
                            The most common scores were approximately from 180 to 240.
                            <p>
                                Taking a closer look at right bar chart, it can be observed most parents of partakers had some college level of education,
                                less of them had chosen to pursue master's degree.
                            </p>
                        </h5>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/parental education.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
            </div>

            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h5>
                            From the box plots it is evident that although men performed better in math,
                            female examinees were superior in writing and reading skills.
                        </h5>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/math.jpg')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/reading.jpg')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/writing.jpg')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
            </div>

            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="105%" height="100%" src="{{url_for('static', filename = 'img/ethnic groups.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h5>
                            Performance of people of group E was the best and the worst is from A.
                            <p>
                                Students with parents with master's degree were more likely to finish test with better results
                                in comparison with those whose parents hadn't graduated with it.
                            </p>
                        </h5>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <img class="bd-placeholder-img" width="100%" height="100%" src="{{url_for('static', filename = 'img/par educ compare.png')}}"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></img>
                    </div>
                </div>
            </div>

            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        Copyright &copy; 2018 Admin Dashboard . Created by
                        <a rel="nofollow" href="https://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="js/utils.js"></script>
    <script src="js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="js/fullcalendar.min.js"></script>
    <!-- https://fullcalendar.io/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="js/tooplate-scripts.js"></script>
    <script>
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart
            drawCalendar(); // Calendar

            $(window).resize(function () {
                updateChartOptions();
                updateLineChart();
                updateBarChart();
                reloadPage();
            });
        })
    </script>
</body>
</html>